.checkbox {
  position: relative;
  &:not(:last-child) {
    margin-bottom: em(5);
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus-visible + .checkbox__label:before {
      box-shadow: 0 0 5px #463e3a;
    }
    &:checked + .checkbox__label:before {
      background: #463e3a;
    }
  }
  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    gap: toRem(15);
    &:before {
      content: "";
      align-self: flex-start;
      flex: 0 0 toRem(19);
      width: toRem(19);
      height: toRem(19);
      border: 1px solid #463e3a;
      border-radius: toRem(5);
    }
  }
  // .checkbox__text
  &__text {
    align-self: center;

    color: #1a1a1a;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 123.5%; /* 21/17 */
  }
}
