.article {
  @include adaptiveValue("padding-top", 50, 40);
  @include adaptiveValue("padding-bottom", 100, 40);
  &__container {
    max-width: toRem(830);
  }

  &__body {
  }

  &__image-ibg {
    border-radius: 20px;
    overflow: hidden;
    @include adaptiveValue("margin-bottom", 50, 30);

    @media (min-width: em(830)) {
      padding-bottom: percent(700, 800);
      max-width: toRem(700);
      margin-right: auto;
      margin-left: auto;
    }
    @media (max-width: em(830)) {
      padding-bottom: 100%;
    }
  }

  &__title {
    color: #fff4e8;
    @include adaptiveValue("font-size", 38, 26);
    font-weight: 700;
    line-height: 121.1%; /* 46/38 */

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__text {
    color: #d9d9d9;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 400;
    line-height: 140%; /* 22.4px */

    p {
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }
}
