// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================

.title {
  color: #fff4e8;
  font-family: Inter;
  @include adaptiveValue("font-size", 40, 28);
  font-weight: 700;
  line-height: 120%; /* 48/40 */
}

//========================================================================================================================================================

.top-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(20);
  row-gap: toRem(15);
  &__title {
  }

  &__link {
    margin-left: auto;
    position: relative;
    color: #fff4e8;
    font-family: Inter;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 400;
    line-height: 138.889%;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #feae50;
        &::after {
          background-color: #feae50;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: toRem(1);
      bottom: toRem(-5);
      left: 0;
      background-color: #fff4e8;
      transition: all 0.3s ease 0s;
    }

    &_gray {
      color: #d9d9d9;
      &::after {
        background-color: #d9d9d9;
      }
    }
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  @include adaptiveValue("column-gap", 12, 8);
  row-gap: toRem(7);

  .swiper-pagination-bullet {
    cursor: pointer;
    @include adaptiveValue("width", 21, 18);
    @include adaptiveValue("height", 21, 18);
    flex-shrink: 0;
    border-radius: 50%;
    background-color: rgba(255, 244, 232, 0.2);

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #feae50;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #feae50;
  }

  &_white {
    .swiper-pagination-bullet {
      background-color: rgba(233, 233, 233, 0.35);
    }
    .swiper-pagination-bullet-active {
      background-color: #fff4e8;
    }
  }

  &.swiper-pagination-lock {
    display: none;
  }
}

//========================================================================================================================================================

.date {
  color: #fff4e8;
  @include adaptiveValue("font-size", 18, 15);
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  padding: 0 toRem(10);
  border-radius: toRem(10);
  border: toRem(1) solid #fff4e8;
}

//========================================================================================================================================================

.pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(10);

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 121.1%; /* 23/19 */
    width: toRem(33);
    height: toRem(33);
    flex-shrink: 0;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    &.active {
      background-color: #fff4e8;
      color: #1a1a1a;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #fff4e8;
        color: #1a1a1a;
      }
    }
  }
}

//========================================================================================================================================================
