//===================================================================================================
.header {
  position: relative;
  background-color: #fff4e8;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff4e8;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    opacity: 0;
    visibility: hidden;
    z-index: 6;

    .menu-open & {
      transition: all 0.3s ease 0.3s;
      opacity: 1;
      visibility: visible;
    }
  }

  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 70, 25, 0, 1210, 991);
    @include adaptiveValue("column-gap", 25, 15, 1, 991, 375);
    @include adaptiveValue("padding-top", 20, 15);
    @include adaptiveValue("padding-bottom", 25, 20);
  }

  &__logo {
    position: relative;
    z-index: 6;
    max-width: toRem(133);
    @include adaptiveValue("max-width", 133, 100, 1, 767, 375);
    img {
      max-width: 100%;
    }

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__menu {
    margin-left: auto;
  }

  &__search-btn {
    font-size: toRem(22);

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #feae50;
      }
    }
  }

  &__search {
  }

  &__phone {
    border-radius: toRem(20);
    background: #463e3a;
    color: #fff4e8;
    @include adaptiveValue("font-size", 18, 14);
    font-style: 138.9%; /* 25/18 */
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    @include adaptiveValue("height", 40, 30);
    @include adaptiveValue("padding-left", 30, 15);
    @include adaptiveValue("padding-right", 30, 15);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__buttons {
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 70, 25, 0, 1210, 991);
    @include adaptiveValue("column-gap", 25, 15, 1, 991, 375);
  }
}
.menu {
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      background-color: #fff4e8;
      overflow: auto;
      z-index: 5;

      padding: toRem(85) toRem(15) toRem(40);
      @include adaptiveValue("padding-top", 100, 85, 0, 767, 375);
      transition: left 0.3s ease 0s;

      .menu-open & {
        left: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 64, 30, 0, 1210, 991);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: toRem(15);
    }
  }

  &__item {
    font-size: toRem(18);
    font-weight: 400;
    line-height: 122.2%; /* 22/18 */

    position: relative;
    display: flex;
    align-items: center;
    column-gap: toRem(1);

    .touch & {
      column-gap: toRem(15);
    }

    @media (max-width: $mobile) {
      font-size: toRem(30);
      font-weight: 500;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          transform: translateY(toRem(2)) rotate(180deg);
        }
        .menu__sublist {
          @media (min-width: $mobile) {
            top: calc(100% + toRem(10));
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &.open {
      &::after {
        transform: translateY(toRem(2)) rotate(180deg);
      }
      .menu__sublist {
        @media (min-width: $mobile) {
          top: calc(100% + toRem(10));
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &_arrow {
      &::after {
        cursor: pointer;
        @extend %ic;
        content: "\e902";
        font-size: toRem(10);
        transition: all 0.3s ease 0s;
        color: #1a1a1a;
        transform: translateY(toRem(2));

        .touch & {
          font-size: toRem(12);
          padding: toRem(3);
        }

        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }

  &__link {
    color: #1a1a1a;

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #feae50;
      }
    }
  }

  &__icon {
  }

  &__sublist {
    @media (min-width: $mobile) {
      position: absolute;
      top: calc(100% + toRem(20));
      left: 0;
      min-width: toRem(270);
      background-color: #fff4e8;
      padding: toRem(15) toRem(10) toRem(20);

      box-shadow: rgba(100, 100, 111, 0.3) 0 7px 29px 0;
      transition: all 0.3s ease 0s;

      border-radius: toRem(10);
      opacity: 0;
      visibility: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: toRem(15);
        top: toRem(-15);
        left: 0;
        background-color: transparent;
      }
    }
    @media (max-width: $mobile) {
      padding-top: toRem(10);
      padding-left: toRem(15);
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: toRem(5);
    }
  }

  &__sublink {
    display: block;
    transition: all 0.3s ease 0s;
    padding: toRem(3) 0;

    @media (max-width: $mobile) {
      font-size: toRem(24);
      padding: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #feae50;
      }
    }
  }
}

.search-header {
  position: fixed;
  top: toRem(-100);
  left: 50%;
  transform: translateX(-50%);
  width: toRem(700);
  background-color: #fff;
  height: toRem(60);

  z-index: 6;
  transition: all 0.3s ease 0s;

  @media (max-width: $mobile) {
    width: calc(100% - toRem(30));
    left: toRem(15);
    transform: translateX(0);
  }

  &.active {
    @include adaptiveValue("top", 100, 80);
  }

  &__form {
    display: flex;
    align-items: center;
    column-gap: toRem(10);
    height: 100%;

    padding: 0 toRem(10) 0 0;
  }

  &__input {
  }

  &__button {
    position: relative;
    flex-shrink: 0;
    font-size: toRem(22);
    height: toRem(40);
    width: toRem(40);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (any-hover: hover) {
      &:hover {
        &::after {
          opacity: 0.2;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
  }

  &__close {
    font-size: toRem(20);
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 6;
    flex-shrink: 0;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #463e3a;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
