//====================================================================================================

.hero {
  position: relative;

  &__slider {
  }

  &__pagination {
    position: absolute;
    z-index: 3;
    bottom: toRem(40);
    left: 50%;
    transform: translateX(-50%);
  }
}

.hero-slider {
  position: relative;
  &__wrapper {
  }

  &__slide {
  }
}

.slide-hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include adaptiveValue("padding-top", 263, 60, 0, 1230, 767);
  @include adaptiveValue("padding-bottom", 207, 50, 0, 1230, 767);
  padding-left: toRem(15);
  padding-right: toRem(15);

  @media (min-width: $mobile) {
    min-height: toRem(820);
  }
  @media (max-width: $mobile) {
    min-height: calc(100svh - toRem(65));
  }
  &__image-ibg,
  &__image-ibg--contain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__title {
    color: #fff4e8;
    text-align: center;
    @include adaptiveValue("font-size", 90, 34);
    font-weight: 600;
    line-height: 125.023%; /* 112.52px */
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 40);
    }
  }

  &__text {
    max-width: toRem(894);
    color: #fff4e8;
    text-align: center;
    @include adaptiveValue("font-size", 35, 22);
    font-weight: 400;
    line-height: 125.023%; /* 43.758px */
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 25);
    }

    p {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }

  &__link {
    pointer-events: all;
    @media (min-width: $mobile) {
      min-width: toRem(362);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//====================================================================================================

.catalog {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 100, 40);

  &__container {
  }

  &__top {
    @include adaptiveValue("margin-bottom", 50, 40);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(380), 1fr));
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(600)) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}

.item-catalog {
  border-radius: 20px;
  background: rgba(184, 181, 178, 0.8);
  box-shadow: 0px 1px 17px 0px rgba(233, 233, 233, 0.25);

  display: flex;
  flex-direction: column;
  padding: toRem(20);
  min-height: toRem(400);
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: rgba(233, 233, 233, 0.4) 0px 7px 29px 0px;
    }
  }

  &__title {
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 500;
    line-height: 113.636%; /*  */
    margin-bottom: toRem(15);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: toRem(15) 0;
    img {
      max-width: 100%;
    }
  }

  &__image-ibg--contain {
    height: fit-content;
    flex: 1 1 auto;
    padding-bottom: percent(260, 340);
    img {
      max-width: 100%;
    }
  }

  &__link {
    margin-top: toRem(15);
    align-self: flex-end;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    &::before {
      font-size: toRem(45);
      color: #463e3a;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #feae50;
      }
    }
  }
}

//====================================================================================================

.why-us {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 100, 40);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 40);
  }

  &__items {
    display: grid;

    @include adaptiveValue("gap", 20, 15);

    counter-reset: number;

    @media (min-width: $tablet) {
      // grid-template-rows: repeat(3, auto);
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: column;
    }
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
    }
  }

  &__item {
  }
}

.item-why {
  border-radius: 20px;
  background: #fff4e8;
  box-shadow: 0px 1px 17px 0px rgba(233, 233, 233, 0.25);

  padding: toRem(20);
  display: flex;
  column-gap: toRem(33);
  row-gap: toRem(15);

  @media (min-width: $tablet) {
    min-height: toRem(200);
  }

  @media (max-width: em(660)) {
    flex-direction: column;
  }

  &__ico {
    flex-shrink: 0;
    @media (max-width: em(660)) {
      max-width: toRem(55);
    }
    img {
      max-width: 100%;
    }
  }

  &__body {
    width: 100%;
  }

  &__title {
    color: #1a1a1a;
    font-family: Inter;
    @include adaptiveValue("font-size", 22, 20);
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 113.636% */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: toRem(15);

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    &::after {
      counter-increment: number;
      content: counter(number, decimal-leading-zero) ". ";
      color: #604b41;
      @include adaptiveValue("font-size", 40, 32);
      font-weight: 700;
      line-height: 120%; /* 48/40 */
    }
  }

  &__text {
    color: #1a1a1a;
    font-size: toRem(16);
    font-weight: 400;
    line-height: 140%; /* 22.4px */

    @include adaptiveValue("padding-right", 64, 51);
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
}

//====================================================================================================

.blog {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 200, 60);
  &__container {
  }

  &__top {
    @include adaptiveValue("margin-bottom", 50, 40);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(380), 1fr));
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(600)) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}

.item-blog {
  display: flex;
  flex-direction: column;
  &__date {
    align-self: flex-end;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__image-ibg {
    display: block;
    border-radius: toRem(20);
    padding-bottom: percent(389, 380);
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__title {
    color: #fff4e8;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 600;
    line-height: 113.636%; /*  */
  }
}

//====================================================================================================
