.products {
  @include adaptiveValue("padding-top", 50, 40);
  @include adaptiveValue("padding-bottom", 200, 60);
  &__container {
  }

  &__title {
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 50, 40);
  }

  &__body {
    display: flex;
    gap: toRem(20);

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__aside {
    @media (min-width: $tablet) {
      flex: 0 0 toRem(280);
    }
  }

  &__contents {
    flex: 1 1 auto;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(660)) {
      grid-template-columns: 1fr;
    }

    &_block {
      @media (min-width: $tablet) {
        grid-template-columns: repeat(auto-fill, minmax(toRem(380), 1fr));
      }
    }
  }

  &__item {
  }

  &__pagination {
    @include adaptiveValue("margin-top", 68, 40);
  }
}

.aside-products {
  @media (min-width: $tablet) {
    position: sticky;
    top: toRem(15);
    border-radius: toRem(20);
    border: toRem(1) solid #fff4e8;
    background: rgba(255, 244, 232, 0.7);
    box-shadow: 0px 1px 17px 0px rgba(233, 233, 233, 0.25);
    padding: toRem(24) toRem(20);
    height: fit-content;
  }

  &__body {
    @media (max-width: $tablet) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      z-index: 7;
      overflow: auto;
      background-color: #fff4e8;
      padding: toRem(30) toRem(15) toRem(100);
      transition: all 0.3s ease 0s;

      .filter-open & {
        left: 0;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(15);

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__close {
    @media (min-width: $tablet) {
      display: none;
    }
    font-size: toRem(20);
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__button {
    display: flex;
    flex-direction: row-reverse;
    column-gap: toRem(10);
    color: #fff4e8;
    @include adaptiveValue("font-size", 22, 20);
  }

  &__show {
    @media (max-width: $tablet) {
      position: fixed;
      width: 100%;
      min-height: toRem(55);
      bottom: 0;
      left: 0;
      z-index: 8;
      background-color: #fff4e8;
      padding: toRem(15);
      transition: all 0.3s ease 0s;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      visibility: hidden;
      opacity: 0;

      .filter-open & {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease 0.3s;
      }
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__show-btn {
    border-radius: toRem(10);
    padding: toRem(10) toRem(30);
    background-color: #feae50;
    color: #fff4e8;
    @include adaptiveValue("font-size", 20, 18);
    width: 100%;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 122.7%; /* 27/22 */
  }

  &__spollers {
  }

  &__item {
  }

  &__checkbox {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
}

.item-products {
  border-radius: toRem(20);
  background: rgba(184, 181, 178, 0.8);
  padding: toRem(20);

  min-height: toRem(362);
  display: flex;
  flex-direction: column;

  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: rgba(233, 233, 233, 0.4) 0px 7px 29px 0px;
    }
  }

  &__image-ibg--contain {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(10) 0;
  }

  &__title {
    font-size: 19px;
    font-weight: 600;
    line-height: 20px; /* 105.263% */

    &:not(:last-child) {
      margin-bottom: toRem(35);
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(10);
  }

  &__price {
    font-size: 20px;
    font-weight: 400;
    line-height: 125%; /* 125% */
  }

  &__link {
    border-radius: 50%;
    font-size: toRem(33);
    color: #1a1a1a;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #feae50;
      }
    }
  }
}

//========================================================================================================================================================

.spollers-filter {
  &__item {
    padding-top: toRem(5);
    &:not(:last-child) {
      padding-bottom: toRem(15);
      border-bottom: toRem(1) solid rgba(0, 0, 0, 0.05);
    }
  }

  &__title {
    padding: toRem(10) 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 122.2%; /* 22/18 */

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease 0s;

    &::after {
      content: "\e902";
      @extend %ic;
      font-size: toRem(10);
      transition: all 0.3s ease 0s;
    }

    &._spoller-active {
      padding-bottom: toRem(20);
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
  }
}
